.active {
  border-bottom: 2px solid #d4d2d2;
}

.action {
  list-style: none;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.action button,
.action span {
  outline: none;
  background: none;
  border: none;
  color: #3f3e3e;
  font-size: 1rem;
}
.active button,
.active span {
  color: #333;
}
