.card {
  margin: 1rem 0rem;
  padding: 1rem;
  background-color: #f6f1f1;
  max-width: 800px;
}

.image {
  margin-bottom: 0.5rem;
  display: flex;
}

.profileContainer {
  display: flex;
  flex-direction: row-reverse;
}

.profile-action {
  display: flex;
  justify-content: space-between;

  margin-top: 1rem;
}

.profile-action {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  font-size: 0.8rem;
  margin-left: 3rem;
  font-size: 1rem;
}

.interact {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding: 1rem;
}
